{"http_interactions":[{"request":{"method":"get","uri":"http://cookbooks.opscode.com/api/v1/cookbooks/nginx","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["\"0fa92ba4948f30c490e04221479dda22\""]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2009-10-25T23:52:41Z\",\"updated_at\":\"2013-02-24T05:49:20Z\",\"category\":\"Web Servers\",\"external_url\":\"github.com/opscode-cookbooks/nginx\",\"maintainer\":\"opscode\",\"name\":\"nginx\",\"latest_version\":\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_4_0\",\"versions\":[\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_4_0\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_3_0\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_2_0\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_1_4\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_1_2\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_1_0\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_0_2\",\"[...]
