*.gem
*.rbc
.bundle
.config
.rvmrc
.yardoc
/Gemfile.lock
_yardoc
/coverage
/doc/
/pkg
/spec/reports
/Berksfile*
tmp
*~
*.tar*
\#*
.DS_Store
/spec/knife.rb
/spec/*.pem
/spec/fixtures/vcr_cassettes
/features/config.yml
*.sw[op]
\.\#*
rerun.txt
.rspec
.kitchen
