*.gem
*.rbc
.bundle
.config
.yardoc
/Gemfile.lock
_yardoc
/coverage
/doc/
/pkg
/spec
/spec/reports
/Berksfile*
tmp
*~
*.tar*
\#*
.DS_Store
/spec/fixtures/vcr_cassettes/*
/features/config.yml
*.sw[op]
_site
