{"http_interactions":[{"request":{"method":"get","uri":"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_4_0","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["\"18edfb68b13a7fc2b72e4545e9fda301\""]},"body":{"encoding":"UTF-8","string":"{\"average_rating\":null,\"version\":\"1.4.0\",\"tarball_file_size\":32275,\"updated_at\":\"2013-02-24T05:49:02Z\",\"file\":\"http://s3.amazonaws.com/community-files.opscode.com/cookbook_versions/tarballs/3151/original/nginx.tgz?1361684940\",\"cookbook\":\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx\",\"created_at\":\"2013-02-24T05:49:02Z\",\"license\":\"Apache 2.0\"}"},"http_version":null},"recorded_at":"Sat, 16 Mar 2013 02:51:36 GMT"}],"recorded_with":"VCR 2.4.0"}