{"http_interactions":[{"request":{"method":"get","uri":"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_4_0","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["\"ec01f78a7dec930ee88383d3698b959a\""]},"body":{"encoding":"UTF-8","string":"{\"file\":\"http://s3.amazonaws.com/community-files.opscode.com/cookbook_versions/tarballs/3151/original/nginx.tgz?1361684940\",\"created_at\":\"2013-02-24T05:49:02Z\",\"tarball_file_size\":32275,\"updated_at\":\"2013-02-24T05:49:02Z\",\"cookbook\":\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx\",\"version\":\"1.4.0\",\"license\":\"Apache 2.0\",\"average_rating\":null}"},"http_version":null},"recorded_at":"Sat, 16 Mar 2013 02:51:35 GMT"}],"recorded_with":"VCR 2.4.0"}