{"http_interactions":[{"request":{"method":"get","uri":"http://cookbooks.opscode.com/api/v1/cookbooks/nginx","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["\"6329d2675f7744bced8ce2d39af3b7fb\""]},"body":{"encoding":"UTF-8","string":"{\"average_rating\":3.875,\"maintainer\":\"opscode\",\"versions\":[\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_4_0\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_3_0\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_2_0\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_1_4\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_1_2\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_1_0\",\"http://cookbooks.opscode.com/api/v1/cookbooks/nginx/versions/1_0_2\",\"[...]
