<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Berkshelf : Manage a Cookbook's, or an Application's, Cookbook dependencies" />

    <title>Berkshelf</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="./index.html">Berkshelf</a></h1>
        <p class="header">Manage a Cookbook or an Application's Cookbook dependencies</p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/berkshelf/berkshelf/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/berkshelf/berkshelf/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/berkshelf/berkshelf">View On GitHub</a></li>
        </ul>

        <p class="copyright">
          Berkshelf is maintained by the <a href="https://github.com/berkshelf/berkshelf/wiki/Core-Team">Berkshelf Core Team</a>
        </p>

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p class="copyright">Copyright &copy; 2012-2014 <a href="http://getchef.com">Chef</a></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
